.cocktails-container {
  display: flex;
  margin-top: 20px;
  padding: 10px 20px;
  height: 70vh;
  overflow: auto;
  .no-search-results {
    color: white;
    font-size: 2em;
    margin: 0 auto;
  }
}
