.cocktail {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  font-family: 'Architects Daughter', cursive;
  color: #fff;
  padding-top: 20px;
  &-title {
    margin: 70px 0;
    font-size: 72px;
    text-align: center;
  }
  &-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .cocktail-image {
      width: 500px;
      height: 500px;
      border: 5px solid #fff;
      border-radius: 50%;
      background-size: cover;
      background-position: center center;
    }
  }

  &-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
    .ingredients {
      font-size: 32px;
      tr {
        margin: 20px 10px;
        :first-child {
          font-weight: bold;
        }
        &:nth-child(1) {
          color: #a3fbf9;
        }
        &:nth-child(2) {
          color: #eea2e5;
        }
        &:nth-child(3) {
          color: #fdd564;
        }
        &:nth-child(4) {
          color: #76f099;
        }

        td {
          padding: 10px;
        }
      }
    }
    .instructions {
      font-size: 26px;
      padding: 70px 0;
    }
  }

}

@media screen and (max-width: 1200px) {
  .cocktail-title {
    font-size: 48px;
    margin-top: 100px;
  }
  .cocktail-details {
    .cocktail-image {
      width: 400px;
      height: 400px;
    }
    .cocktail-information {
      font-size: 24px;
      .ingredients {
        font-size: 26px;
      }
      .instructions {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .cocktail-details {
    flex-direction: column;
    align-items: center;
    .cocktail-image {
      width: 250px;
      height: 250px;
    }
    .cocktail-information {
      margin-top: 50px;
      max-width: 100%;
    }
  }
}
