.cocktail {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  font-family: 'Architects Daughter', cursive;
  color: #fff;
  padding-top: 20px;
  &-title {
    margin: 70px 0;
    font-size: 72px;
    text-align: center;
  }
  &-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .cocktail-image {
      width: 600px;
      height: 600px;
      border: 5px solid #fff;
      border-radius: 50%;
      background-size: cover;
      background-position: center center;
    }
  }

  &-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
    .cocktail-data {
      font-size: 32px;
      .data-row {
        display: flex;
        margin: 20px 10px;
        :first-child {
          font-weight: bold;
          width: 160px;
        }
        &:nth-child(1) {
          color: #a3fbf9;
        }
        &:nth-child(2) {
          color: #eea2e5;
        }
        &:nth-child(3) {
          color: #fdd564;
        }
      }
      .ingredients {
        display: flex;
        flex-direction: column;
        color: #76f099;
        .ingredients-list {
          display: flex;
          width: 500px;
          overflow-x: auto;
          .ingredient {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              width: 100px;
              height: 100px;
            }
            span {
              text-align: center;
              font-size: 14px;
            }
          }
        }
      }
    }
    .instructions {
      font-size: 26px;
      padding: 70px 0;
    }
  }

}

@media screen and (max-width: 1250px) {
  .cocktail-title {
    font-size: 48px;
    margin-top: 100px;
  }
  .cocktail-details {
    .cocktail-image {
      width: 400px;
      height: 400px;
    }
    .cocktail-information {
      font-size: 24px;
      .cocktail-data {
        font-size: 26px;
        .ingredients {
          .ingredients-list {
            width: 400px;
          }
        }
      }
      .instructions {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .cocktail-details {
    flex-direction: column;
    align-items: center;
    .cocktail-image {
      width: 250px;
      height: 250px;
    }
    .cocktail-information {
      margin-top: 50px;
      max-width: 100%;
      .cocktail-data {
        .ingredients-list {
          width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cocktail-information {
    .cocktail-data {
      overflow: hidden;
      .ingredients-list {
        width: 350px !important;
      }
    }
  }
}
