<div class="cocktail">
  <h1 class="cocktail-title" [textContent]="cocktail?.strDrink"></h1>
  <div class="cocktail-details">
    <div class="cocktail-image" [ngStyle]="{backgroundImage: image}">
    </div>
    <div class="cocktail-information">
      <table class="ingredients">
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Ingredients:</td>
          <td [textContent]="ingredients"></td>
        </tr>
      </table>
      <p class="instructions" [textContent]="cocktail?.strInstructions"></p>
    </div>
  </div>
</div>
