.cocktail {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  font-family: "Architects Daughter", cursive;
  color: #fff;
  padding-top: 20px;
  &-title {
    margin: 70px 0;
    font-size: 72px;
    text-align: center;
  }
  &-details {
    display: flex;
    justify-content: space-around;
    .cocktail-image {
      width: 500px;
      height: 500px;
      border: 5px solid #fff;
      border-radius: 50%;
      background-size: cover;
      background-position: center center;
    }
  }

  &-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
    font-size: 32px;
  }

}

@media screen and (max-width: 1200px) {
  .cocktail-title {
    font-size: 48px;
  }
  .cocktail-details {
    .cocktail-image {
      width: 400px;
      height: 400px;
    }
    .cocktail-information {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 900px) {
  .cocktail-details {
    flex-direction: column;
    align-items: center;
    .cocktail-image {
      width: 250px;
      height: 250px;
    }
    .cocktail-information {
      margin-top: 50px;
      max-width: 100%;
    }
  }
}
