<div class="login-page">
  <form class="login-form">
    <div class="form-group">
      <label for="organizationID" class="control-label text-capitalize">Organization ID</label>
      <input type="text" class="form-control" id="organizationID">
    </div>
    <div class="form-group">
      <label for="username" class="control-label text-capitalize">Username</label>
      <input type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="password" class="control-label text-capitalize">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
      <input type="submit" class="form-control text-capitalize btn btn-primary" id="login" value="Log In">
    </div>
    <div>
      @copyright
    </div>
  </form>
</div>
