<div class="login-page">
  <div class="login-dialog">
    <app-login-form
      (loginAction)="onLogin($event)"
      (createAccountAction)="onCreateAccount($event)"
      (clearErrorMessage)="onClearErrorMessage()"
      (changeStateAction)="onChangeState($event)"
      [submitValue]="submitValue"
      [userData]="userData"
      [errorMessage]="errorMessage">
    </app-login-form>

    <app-social-login
      (loginAction)="onSocialLogin($event)"
      *ngIf="submitValue === 'Sign In'"></app-social-login>
  </div>
</div>
