.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(.4) brightness(.7) contrast(.8);
}

@media (min-aspect-ratio: 16/9) {
  .background-video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .background-video {
    width: 300%;
    left: -100%;
  }
}