.nav-menu {
  width: 100%;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  justify-content: space-between;
}
.menu-item {
  color: #fff;;
  font-family: 'Crafty Girls', cursive;
  font-size: 24px;
  margin: 10px 20px;
  cursor: pointer;
  outline: none;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    color: #ff9561;
  }

  .menu-item-description {
    margin-left: 20px;
  }

  &.active {
    color: #f5651e;
    &:hover {
      color: #f5651e;
    }
  }
}

@media screen and (max-width: 800px) {
  .menu-item-description {
    display: none;
  }
}