<div class="side-menu" [ngClass]="{'thin': !isWide}">
  <p class="hamburger-area">
    <span 
      class="glyphicon" 
      [ngClass]="{'glyphicon-menu-hamburger': !isWide, 'glyphicon-remove': isWide}" 
      (click)="toggleWideView()"
    ></span>
  </p>
  <ul class="nav nav-pills nav-stacked nav-menu">
    <li class="menu-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="glyphicon glyphicon-home"></span>
      <p>Home</p>
    </li>
    <li class="menu-item" routerLinkActive="active" routerLink="/search">
      <span class="glyphicon glyphicon-search"></span>
      <p>Search your favorite Cocktail</p>
    </li>
    <li class="menu-item" routerLinkActive="active" routerLink="/make-cocktail">
      <span class="glyphicon glyphicon-glass"></span>
      <p>Make Cocktail</p>
    </li>
  </ul>
</div>
