.login-form {
  outline: 1px solid red;
  background: ghostwhite;
  padding: 20px;
}

.error-container {
  color: darkred;
  margin-bottom: 10px;
}

.change-form-state {
  padding: 10px 0;
  text-align: center;
  color: #3472ad;
  text-decoration: underline;
  cursor: pointer;
}
