<div class="ui-g ingredients-wrap">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="ui-g-4 ui-md-3 ui-lg-2 ingredient" *ngFor="let ingredient of ingredients">
    <div
      class="ingredient-el"
      [class.ingredient-el--selected] = "ingredient.strIngredient1 === selectedIngredient"
      (click)="toggleIngredient($event, ingredient)">
      <img class="ingredient-img" [src]="'http://www.thecocktaildb.com/images/ingredients/' + ingredient.strIngredient1 +'-Medium.png'">
      <span>{{ingredient.strIngredient1}}</span>
    </div>
  </div>
</div>

