.searchbar {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 5px solid white;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
  i {
    color: white;
    font-size: 24px;
  }
  input {
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    font-size: 24px;
  }
}

.search-selector {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  font-size: 22px;

  &__block {
    display: flex;
    justify-content: center;
  }
}

.header {
  font-size: 42px;
  color: #fff;
  display: flex;
  justify-content: center;
}
