<div class="container">
  <div class="header">Find your cocktail</div>
  <div class="ui-g search-selector">
    <div class="ui-g-6 search-selector__block">
      <p-radioButton value="category" class="search-selector__label" label="By category" [(ngModel)]="radioVal" inputId="opt3"></p-radioButton>
    </div>
    <div class="ui-g-6 search-selector__block">
      <p-radioButton value="ingredient" class="search-selector__label" label="By Ingrediends" [(ngModel)]="radioVal" inputId="opt1"></p-radioButton>
    </div>
  </div>
  <app-ingredients *ngIf="radioVal == 'ingredient'" (cocktails)="onGetCocktails($event)"></app-ingredients>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-4 ui-md-offset-4">
      <label class="ui-g-12 searchbar">
        <i class="fa fa-search"></i>
        <input type="text" class="ui-g-11" placeholder="Search..." [(ngModel)]="filterValue" (keyup)="filterChanged()" />
      </label>
    </div>
  </div>
</div>

