.searchbar {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 5px solid white;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}
.searchbar i {
  color: white;
  font-size: 24px;
}
.searchbar input {
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  font-size: 1em;
}
.searchbar input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
