.searchbar {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 5px solid white;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
  i {
    color: white;
    font-size: 24px;
  }
  input {
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    font-size: 24px;
  }
}

.search-selector {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  font-size: 22px;

  &__block {
    display: flex;
    justify-content: center;
  }
}

.header {
  font-size: 42px;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
}

.tags {
  display: flex;
  flex-wrap: inherit;

  &-el {
    cursor: pointer;
    font-size: 16px;
    color: #e09773;
    font-weight: bold;
    padding: 5px;
    border: 2px solid #e09773;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;

    &--selected {
      color: #fff;
      border-color: #fff;
      padding-right: 26px;

      &::after {
        position: absolute;
        top: 6px;
        bottom: 0;
        right: 8px;
        content: '✖';
        font-size: 15px;
      }
    }
  }
}
